@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria</h1>
    <p>Para ingresar un Cadete nuevo <a asp-controller="Cadete" asp-action="Index">click aqui</a>.</p>
    <p>Para ingresar un Pedido nuevo <a asp-controller="Pedido" asp-action="Index">click aqui</a>.</p>
</div>
