@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria</h1>
    <p>Para ingresar un nuevo <strong>Cadete</strong> <a asp-controller="Cadete" asp-action="Index">click aqui</a>.</p>
    <p>Para crear un <strong>Pedido</strong> <a asp-controller="Pedido" asp-action="Index">click aqui</a>.</p>
</div>
