@{
    ViewData["Title"] = "Pedido";
}

@using Cadeteria.Models.ViewModels.Pedidos

@model PedidosAltaViewModel

<div class="text-center">
    <h1 class="display-4">Ingresar datos del Pedido</h1>
    <form asp-controller="Pedido" asp-action="crearPedido" method="post" class="row g-3">
        <div class="col-12">
            <label asp-for="Observaciones" class="form-label"></label>
            <input asp-for="Observaciones" class="form-control">
            <span asp-validation-for="Observaciones" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Cliente.Nombre" class="form-label"></label>
            <input asp-for="Cliente.Nombre" class="form-control">
            <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Cliente.Direccion" class="form-label"></label>
            <input asp-for="Cliente.Direccion" class="form-control">
            <span asp-validation-for="Cliente.Direccion" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Cliente.Telefono" class="form-label"></label>
            <input asp-for="Cliente.Telefono" class="form-control" placeholder="3815123123">
            <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Estado" class="form-label"></label>
            <select asp-items="@(new SelectList(Model.Estados))" asp-for="Estado"></select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success">Ingresar</button>
        </div>
        <div class="col-12">
            <a asp-controller="Pedido" asp-action="MostrarPedidos" class="btn btn-success">Ver Listado</a>
        </div>
    </form>
</div>
