@using Cadeteria.Models.ViewModels.Usuario

@{
    ViewData["Title"] = "Inicio de Sesion";
}
@model UsuarioIndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light border border-secondary rounded mt-4 p-4">
                <form class="row g-3" asp-action="logIn" asp-controller="Usuario" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h4 class="ml-3">Iniciar Sesión</h4>
                    <div class="col-12">
                        <label asp-for="Nombre" class="control-label mt-3"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Password" class="control-label mt-3"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-dark float-end">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Aún no tiene una cuenta? <a asp-action="crearUsuario">Crear Cuenta</a></p>
                </div>
            </div>
        </div>
    </div>
</div>