@using Cadeteria.Models.ViewModels.Cadete

@{
    ViewData["Title"] = "Cadete";
}

@model CadeteAltaViewModel

<div class="text-center">
    <h1 class="display-4">Ingresar datos de Cadete</h1>
    <form asp-controller="Cadete" asp-action="crearCadete" method="post" class="row g-3">
        <div class="col-md-6">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Direccion" class="form-label"></label>
            <input asp-for="Direccion" class="form-control">
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Telefono" class="form-label"></label>
            <input asp-for="Telefono" class="form-control" placeholder="3815123123">
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        <div class="col-12">
            <a asp-controller="Cadete" asp-action="MostrarCadetes" class="btn btn-primary">Ver Listado</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
