@{
    ViewData["Title"] = "Cadete";
}

<div class="text-center">
    <h1 class="display-4">Ingresar datos de Cadete</h1>
    <form asp-controller="Cadete" asp-action="crearCadete" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="col-md-6">
            <label for="direc" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direc" name="direc" required>
        </div>
        <div class="col-md-6">
            <label for="tel" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="tel" name="tel" placeholder="+54 381-5123123" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        <div class="col-12">
            <a asp-controller="Cadete" asp-action="MostrarCadetes" class="btn btn-primary">Ver Listado</a>
        </div>
    </form>
</div>
