@{
    ViewData["Title"] = "Pago Exitoso";
}

@model Cadete

<h1 class="display-4">Pago exitoso!</h1>
<h4>Se realizo el pago al Cadete @Model.Id - @Model.Nombre</h4>
<a class="nav-link" asp-route-id="@Model.Id" asp-controller="Cadete" asp-action="listarPedidos">Volver</a>